<!--The content below is only a placeholder and can be replaced.-->

  <nav class="nav navbar-light bg-faded" style="background-color: #66CDAA">
    <h2 class="navbar-brand d-inline-block align-top" style="color:azure">&nbsp;&nbsp; BookShop </h2>
    
    <div class="navbar ">
      <a routerLink="addbook"  class=" nav-link nav-item active" style="color:azure" >Add </a>
      <a routerLink="deletebook" class=" nav-link nav-item " style="color:azure">Delete</a>
        <a routerLink="findbook" class="nav-link  nav-item" style="color:azure" >Find</a>
         <a routerLink="listbooks" class=" nav-link nav-item" style="color:azure">List</a>
        <a routerLink="updatebook" class="nav-link  nav-item" style="color:azure" >Update </a>
    
  </div>
  </nav>
  <div>
<router-outlet></router-outlet>
</div>